@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: #24252A;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.welcome__container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 500px;
}

h1 {
    font-size: 40px;
    padding-bottom: 95px;
}

.welcome__text {
    max-width: 350px;
}

span {
    color: #7DA7A8;
}

.cadastro__btn {
    background-color: #19181C;
    margin-right: 18px;
    color: #fff;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cadastro__btn:hover {
    background-color: #4A5965;
}

.login__btn {
    background-color: transparent;
    width: 130px;
    height: 40px;
    border: 2px solid #7DA7A8;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.login__btn:hover {
    border: 2px solid #A2D0C2;
}

.about__container {
    padding: 30px 10%;
    min-height: 340px;
}

.about__us {
    background: rgba(25, 24, 28, 0.3);
    background: linear-gradient(90deg, rgba(25, 24, 28, 1) 0%, rgba(51, 55, 63, 1) 35%, rgba(74, 89, 101, 0.8886905103838411) 100%);
    color: #dedbdb;
    padding: 45px;
    border-radius: 30px;
}

.equipamentos__container {
    background-color: #e1dddd;
    padding: 30px 10%;
}

.cards__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cards {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 25px;
    margin: 10px;   
    width: 380px;
    height: 380px;
}

img {
    width: 330px;
    height: 230px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.rules__container {
    background-color: lightgoldenrodyellow;
    padding: 30px 10%;
}

.rules__box {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.rules__text {
    background-color: lightseagreen;   
    padding: 50px; 
    width: 50%;
    height: 50%;
    margin: 10px;
}

.rules__content {
    text-align: justify;
}
