@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: #24252A;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #4A7C59;
}

.welcome__container {        
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 400px;
}

h1 {
    font-size: 50px;    
}

.subtitle__text {
    padding: 30px 0px 35px 0px;
}

.welcome__text {
    max-width: 450px;
}

span {
    color: #4A7C59;
}

.cadastro__btn {
    background-color: #19181C;
    margin-right: 18px;
    color: #fff;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cadastro__btn:hover {
    background-color: #4A5965;
}

.login__btn {
    background-color: transparent;
    width: 130px;
    height: 40px;
    border: 3px solid #4A7C59;    
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.login__btn:hover {
    border: 2px solid #4A7C59;
}

.about__container {    
    padding: 30px 10%;
    min-height: 300px;
}

.about__us {
    background: rgba(25, 24, 28, 0.3);
    background: linear-gradient(90deg, rgba(25, 24, 28, 1) 0%, rgba(51, 55, 63, 1) 35%, rgba(74, 89, 101, 0.8886905103838411) 100%);
    color: #dedbdb;
    padding: 45px;
    border-radius: 30px;
}

.equipamentos__container {     
    padding: 30px 10%;    
}

.subtitles {
    color: #19181C;     
    text-decoration: underline;    
    text-decoration-color: #4A7C59;  
    text-decoration-thickness: 5px;  
    text-underline-offset: 13px;   
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.cards__container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cards {
    background: rgba(224, 224, 224, 0.3);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    padding: 25px;
    margin: 10px;   
    width: 380px;
    height: 380px;
}

h4 {
    color: #19181C;
    padding-top: 10px;       
}

img {
    width: 330px;
    height: 230px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.states__container { 
    background-image: url(../images/close-up-microscope-oculars.jpg);  
    background-size: cover; 
    padding: 30px 10%; 
}

.states {
    padding-left: 25px;
    text-align: center;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.blocks {
    align-items: center;
    margin: 10px;
    max-width: 380px;
}

.states__text {
    color:  #fffffff3;
    font-size: 20px;
    font-weight: bold;
}

.rules__container {    
    padding: 30px 10%; 
}

.rules__box {
    padding-top: 30px;    
    text-align: justify;
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.rules__text {
    background-color: #fafafa;
    box-shadow: #6062672c -5px 5px, #dbdbdb -10px 10px;
    padding: 25px;
    margin: 10px;
    width: 580px;
}